{{ define "add_group" }}
{{ template "header" . }}

<h1>Add Group</h1>

<form action="/dashboard/groups/add" method="post">

    {{ template "csrf" . }}

    <label>
        Label
        <input type="text" placeholder="Label" required name="label" value="{{ .post.label }}">
    </label>

    <label>
        Hidden
        <select name="hidden" aria-label="Hidden" required value="{{ .post.hidden }}">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </label>

    <button>Save</button>

</form>

{{ template "footer" . }}
{{ end }}