{{ define "add_server" }}
{{ template "header" . }}

<h1>Add Server</h1>

<form action="/dashboard/servers/add" method="post">

    {{ template "csrf" . }}

    <label>
        Label
        <input type="text" placeholder="Label" required name="label" value="{{ .post.label }}">
    </label>

    <label>
        Group
        <select name="group" aria-label="Group" required value="{{ .post.group }}">
            <option value="-1">None</option>
            {{ range .groups }}
            <option value="{{ .Id }}">{{ .Label }}</option>
            {{ end }}
        </select>
    </label>

    <label>
        Secret
        <input type="text" placeholder="Secret" required name="secret" value="{{ .post.secret }}">
    </label>

    <label>
        Hidden
        <select name="hidden" aria-label="Hidden" required value="{{ .post.hidden }}">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </label>

    <button>Save</button>

</form>

{{ template "footer" . }}
{{ end }}