{{ define "index" }}
{{ template "header" . }}


<div class="row">
    <div class="col-6 col-lg-3 mb-3">
        <article class="h-100">
            <header>Total servers</header>
            <span id="stat-total" aria-busy="true"></span>
        </article>
    </div>
    <div class="col-6 col-lg-3 mb-3">
        <article class="h-100">
            <header>Online servers</header>
            <span id="stat-online" aria-busy="true"></span>
        </article>
    </div>
    <div class="col-6 col-lg-3 mb-3">
        <article class="h-100">
            <header>Offline servers</header>
            <span id="stat-offline" aria-busy="true"></span>
        </article>
    </div>
    <div class="col-6 col-lg-3 mb-3">
        <article class="h-100">
            <header>Network</header>
            <div id="stat-network" aria-busy="true"></div>
        </article>
    </div>
</div>

<div hx-get="/servers" hx-trigger="load" hx-swap="outerHTML">
    <article aria-busy="true"></article>
</div>


{{ template "footer" . }}
{{ end }}