{{ define "index" }}
{{ template "header" . }}


<div class="row">
    <div class="col-6 col-lg-3 mb-3">
        <article class="h-100">
            <header>Total servers</header>
            <span id="stat-total" aria-busy="true"></span>
        </article>
    </div>
    <div class="col-6 col-lg-3 mb-3">
        <article class="h-100">
            <header>Online servers</header>
            <span id="stat-online" aria-busy="true"></span>
        </article>
    </div>
    <div class="col-6 col-lg-3 mb-3">
        <article class="h-100">
            <header>Offline servers</header>
            <span id="stat-offline" aria-busy="true"></span>
        </article>
    </div>
    <div class="col-6 col-lg-3 mb-3">
        <article class="h-100">
            <header>Network</header>
            <div id="stat-network" aria-busy="true"></div>
        </article>
    </div>
</div>

<fieldset>
    <input type="radio" id="view-cards" name="view" value="cards" />
    <label htmlFor="view-cards">Cards</label>
    <input type="radio" id="view-table" name="view" value="table" />
    <label htmlFor="view-table">Table</label>
</fieldset>

<div hx-get="/servers?view={{ .view }}" hx-trigger="load" hx-swap="outerHTML">
    <article aria-busy="true"></article>
</div>

<script>
    $(function() {
        $("input[name=\"view\"]").on("click", function() {
            location.search = "?view=" + $(this).val();
        })
        $("input[name=\"view\"][value=\"{{ .view }}\"]").attr("checked", true);
    })
</script>

{{ template "footer" . }}
{{ end }}