{{ define "index" }}
{{ template "header" . }}


<div class="row">
    <div class="col-12 col-lg-4">
        <article>
            <header>Total servers</header>
            <span class="fs-1">10</span>
        </article>
    </div>
    <div class="col-12 col-lg-4">
        <article>
            <header>Online servers</header>
            <span class="fs-1">10</span>
        </article>
    </div>
    <div class="col-12 col-lg-4">
        <article>
            <header>Network Stats</header>
            <span class="fs-1">10</span>
        </article>
    </div>
</div>


{{ template "footer" . }}
{{ end }}