{{ define "servers" }}
{{ template "header" . }}

{{ template "dashboard_header" . }}

<div class="mb-3">
    <a href="/dashboard/servers/add"><button>Add</button></a>
</div>

<div class="overflow-auto text-nowrap">

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Label</th>
                <th>Group</th>
                <th>Hidden</th>
                <th>Last report</th>
                <th>Version</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{ range .servers }}
            <tr>
                <th>{{ .Id }}</th>
                <td>{{ .Label }}</td>
                <td>
                    {{ if .GroupLabel.Valid }}
                    <a href="/dashboard/groups/{{ .GroupId.Int32 }}">{{ .GroupLabel.String }}</a>
                    {{ else }}
                    Unassigned
                    {{ end }}
                </td>
                <td>
                    {{ if not .Hidden }}<span class="pico-color-red-500">No</span>{{ end }}
                    {{ if .Hidden }}<span class="pico-color-green-500">Yes</span>{{ end }}
                </td>
                <td>
                    {{ if .LastReport.Valid }}
                    <timestamp>{{ .LastReport.Int64 }}</timestamp>
                    {{ else }}
                    No report
                    {{ end }}
                </td>
                <td>
                    {{ if .Version.Valid }} {{ .Version.String }} {{ else }} Unknown {{ end }}
                </td>
                <td>
                    {{ template "delete_button" (printf "/dashboard/servers/%d" .Id) }}
                    <a href="/dashboard/servers/edit/{{ .Id }}"><button>Edit</button></a>
                    <a href="/dashboard/servers/install/{{ .Id }}"><button>Setup Agent</button></a>
                    <a href="/servers/{{ .Id }}"><button>View</button></a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

{{ template "footer" . }}
{{ end }}