{{ define "view" }}
{{ template "header" . }}


<a href="/" class="text-decoration-none" style="color: inherit;"><i class="bi bi-arrow-left-circle-fill"></i> Back</a>

<h2 class="my-3"><i class="bi bi-circle-fill" id="online"></i> {{ .label }}</h2>

<style>
    [aria-busy="true"] * {
        display: none;
    }
</style>

<article aria-busy="true">
    <header>Uptime</header>
    <div class="d-flex" id="incidents"></div>
    <div class="d-flex justify-content-between text-secondary">
        <span id="incidnet-left"></span>
        <span id="incidnet-right"></span>
    </div>
</article>

<article aria-busy="true">
    <header>Basic</header>
    <div class="d-flex flex-wrap gap-4 justify-content-start">

        <div class="d-flex flex-column">
            <span class="text-secondary">CPU</span>
            <span id="cpu"></span>
        </div>

        <div class="d-flex flex-column">
            <span class="text-secondary">Uptime</span>
            <span id="uptime"></span>
        </div>

        <div class="d-flex flex-column">
            <span class="text-secondary">Arch</span>
            <span id="arch"></span>
        </div>

        <div class="d-flex flex-column">
            <span class="text-secondary">OS</span>
            <span id="os"></span>
        </div>

        <div class="d-flex flex-column">
            <span class="text-secondary">Load</span>
            <span id="load"></span>
        </div>

    </div>
</article>

<select id="range" value="300" class="w-auto">
    <option value="300">5 Minutes</option>
    <option value="1800">30 Minutes</option>
    <option value="7200">2 Hours</option>
    <option value="86400">24 Hours</option>
    <option value="259200">3 Days</option>
    <option value="604800">7 Days</option>
</select>



<div class="row mt-4">

    <div class="col-12 col-lg-6">
        <article aria-busy="true">
            <header class="d-flex justify-content-between">CPU<span id="cpu-text" class="text-secondary"></span></header>
            <div id="graph-cpu"></div>
        </article>

    </div>
    <div class="col-12 col-lg-6">
        <article aria-busy="true">
            <header class="d-flex justify-content-between">Swap<span id="swap-text" class="text-secondary"></span></header>
            <div id="graph-swap"></div>
        </article>
    </div>

    <div class="col-12 col-lg-6">
        <article aria-busy="true">
            <header class="d-flex justify-content-between">Memory<span id="mem-text" class="text-secondary"></span></header>
            <div id="graph-mem"></div>
        </article>
    </div>

    <div class="col-12 col-lg-6">
        <article aria-busy="true">
            <header class="d-flex justify-content-between">Network<span id="network-text" class="text-secondary" style="font-family: bootstrap-icons, var(--pico-font-family);"></span></header>
            <div id="graph-network"></div>
        </article>
    </div>

    <div class="col-12 col-lg-6">
        <article aria-busy="true">
            <header class="d-flex justify-content-between">Disk<span id="disk-text" class="text-secondary"></span></header>
            <div id="graph-disk"></div>
        </article>
    </div>

</div>


<script>

    $(function () {
        function formatDuration(d) {
            if (d >= 60 * 60 * 24 * 365) {
                const months = Math.floor((d % (60 * 60 * 24 * 365)) / (60 * 60 * 24 * 365) * 12);
                if (months > 0) {
                    return Math.floor(d / (60 * 60 * 24 * 365)) + " years " + months + " months";
                }
                return Math.floor(d / (60 * 60 * 24 * 365)) + " years";
            }
            if (d >= 60 * 60 * 24) {
                return Math.floor(d / (60 * 60 * 24)) + " days";
            }
            if (d >= 60 * 60) {
                return Math.floor(d / (60 * 60)) + " hours";
            }
            if (d >= 60) {
                return Math.floor(d / 60) + " minutes";
            }
            return d + " seconds";
        }

        function formatBytes(b) {
            const unit = 1024;
            if (b < unit) {
                return `${b} B`;
            }
            let div = unit;
            let exp = 0;
            for (let n = Math.floor(b / unit); n >= unit; n = Math.floor(n / unit)) {
                div *= unit;
                exp++;
            }
            const pre = "KMGTPE".charAt(exp);
            return `${(b / div).toFixed(1)} ${pre}iB`;
        }
        
        async function reload() {
            try {
                const range = parseInt($("#range").val());

                const resp = await fetch("/servers/{{ .id }}/data?duration=" + range, { signal: AbortSignal.timeout(5000) });
                if (resp.status !== 200) throw new Error("bad status: " + resp.statusText);

                $("[aria-busy=\"true\"]").attr("aria-busy", null);

                const json = await resp.json();

                $("#cpu").text(json.server.cpu || "N/A");
                $("#arch").text(json.server.arch || "N/A");
                $("#os").text(json.server.operating_system || "N/A");
                $("#online").removeClass("text-success text-danger").addClass(json.server.online ? "text-success" : "text-danger");

                if (json.server.online) {
                    $("#uptime").text(formatDuration(json.latest.uptime));
                    $("#load").text(json.latest.load_1 + " " + json.latest.load_5 + " " + json.latest.load_15);
                    $("#cpu-text").text(json.latest.cpu.toFixed(1) + "%");
                    $("#swap-text").text(formatBytes(json.latest.swap_used) + " / " + formatBytes(json.latest.swap_total));
                    $("#mem-text").text(formatBytes(json.latest.memory_used) + " / " + formatBytes(json.latest.memory_total));
                    $("#network-text").text("\uF13A " + formatBytes(json.latest.network_in_rate) + "/s \uF119 " + formatBytes(json.latest.network_out_rate) + "/s");
                    $("#disk-text").text(formatBytes(json.latest.disk_used) + " / " + formatBytes(json.latest.disk_total));

                } else {
                    $("#uptime").text("N/A");
                    $("#load").text("N/A");
                    $("#cpu-text").text("N/A");
                    $("#swap-text").text("N/A");
                    $("#mem-text").text("N/A");
                    $("#network-text").text("N/A");
                    $("#disk-text").text("N/A");
                }

                drawGraph("#graph-cpu", [{data: json.metrics.map(m => ({ date: new Date(m.created_at * 1000), value: m.cpu, }))}], range);
                drawGraph("#graph-swap", [{data: json.metrics.map(m => ({ date: new Date(m.created_at * 1000), value: m.swap_percent, }))}], range, [0, 100]);
                drawGraph("#graph-mem", [{data: json.metrics.map(m => ({ date: new Date(m.created_at * 1000), value: m.memory_percent, }))}], range, [0, 100]);
                drawGraph("#graph-disk", [{data: json.metrics.map(m => ({ date: new Date(m.created_at * 1000), value: m.disk_percent, }))}], range, [0, 100]);
                drawGraph("#graph-network", [
                    {data: json.metrics.map(m => ({ date: new Date(m.created_at * 1000), value: m.network_out_rate / 1024 / 1024, })), label: "Outbound (MB/s)"},
                    {data: json.metrics.map(m => ({ date: new Date(m.created_at * 1000), value: m.network_in_rate / 1024 / 1024, })), label: "Inbound (MB/s)"},
                ], range, [
                    0, Math.max(...json.metrics.map(m => m.network_out_rate / 1024 / 1024), ...json.metrics.map(m => m.network_in_rate / 1024 / 1024)) * 1.2
                ]);

                drawIncidents(json.incidents, range);


            } catch (e) {
                console.error("reload error", e);
            } finally {
                setTimeout(reload, 2000);
            }
        }

        reload();

        function drawGraph(container, lines, range, rangeY = [0, 100]) {

            const width = $(container).width();
            const height = 200;
            const margin = 25;

            const x = d3.scaleUtc()
                .domain([new Date(Date.now() - range * 1000), new Date()])
                .range([margin, width - margin]);

            const y = d3.scaleLinear()
                .domain(rangeY)
                .range([height - margin, margin]);

            const svg = d3.create("svg")
                .attr("width", width)
                .attr("height", height);

            // axises

            let timeFormat = "%H:%M";
            let ticks = d3.timeMinute.every(1);
            if (range === 1800) { // 30 minutes
                ticks = d3.timeMinute.every(5);
            } else if (range === 7200) { // 2 hours
                ticks = d3.timeMinute.every(20);
            } else if (range === 86400) { // 24 hours
                ticks = d3.timeHour.every(4);
            } else if (range === 259200) { // 3 days
                timeFormat = "%H:%M";
                ticks = d3.timeHour.every(12);
            } else if (range === 604800) { // 7 days
                timeFormat = "%b %d";
                ticks = d3.timeHour.every(24);
            }

            svg.append("g")
                .attr("transform", `translate(0,${height - margin})`)
                .call(d3.axisBottom(x).ticks(ticks).tickSizeOuter(0).tickFormat(d3.timeFormat(timeFormat)));
            
            svg.append("g")
                .attr("transform", `translate(${margin},0)`)
                .call(d3.axisLeft(y).ticks(4).tickSizeInner(0))
                .call(g => g.select(".domain").remove());

            // lines
            const colors = ["steelblue", "orange", "green", "red", "purple"];
            for (let l = 0; l < lines.length; l++) {
                const line = lines[l];
                const data = line.data;

                // cut the line if the gap is greater than 10 seconds or 15 minutes
                let segments = [[]];
                for (let i = 0; i < data.length; i++) {
                    let lastSegment = segments[segments.length - 1];
                    if (lastSegment.length === 0) {
                        lastSegment.push(data[i]);
                        continue;
                    }
                    if (
                        (lastSegment[lastSegment.length - 1].date - data[i].date >= 10 * 1000 && range < 7200) ||
                        (lastSegment[lastSegment.length - 1].date - data[i].date >= 15 * 60 * 1000 && range >= 7200)
                    ) {
                        segments.push([data[i]]);
                    } else {
                        lastSegment.push(data[i]);
                    }
                }

                for (let i = 0; i < segments.length; i++) {
                    const line = d3.line()
                        .x(d => x(d.date))
                        .y(d => y(d.value));

                    svg.append("path")
                        .attr("fill", "none")
                        .attr("stroke", colors[l])
                        .attr("stroke-width", 1.5)
                        .attr("d", line(structuredClone(segments[i]).reverse()));
                }

                if (line.label) {
                    svg.append("text")
                        .text(line.label)
                        .attr("x", width - margin)
                        .attr("y", 12 * (l + 1))
                        .attr("text-anchor", "end")
                        .attr("fill", colors[l])
                        .attr("font-size", "12px");
                }
            }

            

            $(container).children().remove();
            $(container).append(svg.node());
        }

        function drawIncidents(incidents, range) {
            const n = Math.floor($("#incidents").width() /  15);

            if ($("#incidents").children().length !== n) {
                $("#incidents").empty();
                for (let i = 0; i < n; i++) {
                    const block = $("<div class=\"flex-grow-1\" style=\"height: 40px; margin: 2px;\"></div>");
                    $("#incidents").append(block);
                }
            }

            const interval = range / n;
            let start = Date.now() - range * 1000;

            $("#incidnet-left").text($("#range option:selected").text().toLocaleLowerCase() + " ago");
            $("#incidnet-right").text("Now");

            for (let i = 0; i < n; i++) {
                const block = $("#incidents").children().eq(i);
                const blockStart = start + i * interval * 1000;
                const blockEnd = blockStart + interval * 1000;

                block.removeClass("bg-success bg-danger bg-warning");
                
                const filtered = incidents.filter(inc => {
                    const incStart = inc.started_at * 1000;
                    const incEnd = inc.ended_at ? inc.ended_at * 1000 : Date.now() + 1000;
                    return (incStart < blockStart && incEnd > blockEnd && incStart < blockEnd) || 
                           (incStart < blockEnd && incEnd > blockEnd) || 
                           (incStart >= blockStart && incEnd <= blockEnd) ||
                           (incStart < blockStart && incEnd > blockStart && incEnd < blockEnd);
                })

                if (filtered.length > 0) {
                    const sortedIncidents = filtered.map(inc => {
                        let incStart = inc.started_at * 1000;
                        let incEnd = inc.ended_at ? inc.ended_at * 1000 : Date.now() + 1000;
                        if (incStart < blockStart) {
                            incStart = blockStart;
                        }
                        if (incEnd > blockEnd) {
                            incEnd = blockEnd;
                        }
                        return {
                            started_at: incStart,
                            ended_at: incEnd,
                        }
                    });
                    let partialOutage = false;
                    if (blockStart < sortedIncidents[0].started_at) {
                        partialOutage = true;
                    }
                    if (sortedIncidents[sortedIncidents.length - 1].ended_at < blockEnd) {
                        partialOutage = true;
                    }
                    for (let j = 0; j < sortedIncidents.length - 1; j++) {
                        if (sortedIncidents[j].ended_at < sortedIncidents[j + 1].started_at) {
                            partialOutage = true;
                            break;
                        }
                    }
                    if (partialOutage) {
                        block.addClass("bg-warning");
                    } else {
                        block.addClass("bg-danger");
                    }
                } else {
                    block.addClass("bg-success");
                }

            }
            
        }
    })



</script>

{{ template "footer" . }}
{{ end }}