name: Build

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Config Docker
      run: |
        echo '{ "features": { "containerd-snapshotter": true  } }' | sudo tee /etc/docker/daemon.json
        sudo systemctl restart docker


    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        install: true
    
    - name: Build the Docker image
      run: docker build . --tag builder --platform linux/amd64,linux/arm64 --load
      
    - name: Build amd64
      run: docker run -v .:/app --rm builder --platform linux/amd64 bash build.sh

    - uses: actions/upload-artifact@v4
      with:
        name: hub-amd64
        path: bin/hub
    
    - uses: actions/upload-artifact@v4
      with:
        name: agent-amd64
        path: bin/agent

    - name: Build arm64
      run: docker run -v .:/app --rm builder --platform linux/arm64 bash build.sh

    - uses: actions/upload-artifact@v4
      with:
        name: agent-arm64
        path: bin/agent

    - uses: actions/upload-artifact@v4
      with:
        name: hub-arm64
        path: bin/hub
