name: Build

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest
    
    steps:

    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential gcc-aarch64-linux-gnu

    - uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Build hub
      run: |
        GOOS=linux GOARCH=amd64 CGO_ENABLED=1 CC=x86_64-linux-gnu-gcc go build -ldflags '-s -w -linkmode external -extldflags "-static"' -tags sqlite_omit_load_extension -trimpath -o bin/hub-amd64 .
        GOOS=linux GOARCH=arm64 CGO_ENABLED=1 CC=aarch64-linux-gnu-gcc go build -ldflags '-s -w -linkmode external -extldflags "-static"' -tags sqlite_omit_load_extension -trimpath -o bin/hub-arm64 .
        

    - name: Build agent
      run: |
        CGO_ENABLED=0 GOARCH=386 go build -o bin/agent-386 -trimpath -ldflags '-s -w' ./agent
        CGO_ENABLED=0 GOARCH=amd64 go build -o bin/agent-amd64 -trimpath -ldflags '-s -w' ./agent
        CGO_ENABLED=0 GOARCH=arm64 go build -o bin/agent-arm64 -trimpath -ldflags '-s -w' ./agent
        CGO_ENABLED=0 GOARCH=arm GOARM=7 go build -o bin/agent-arm32-v7a -trimpath -ldflags '-s -w' ./agent

    - uses: actions/upload-artifact@v4
      with:
        name: bin
        path: bin

    - name: Upload binary
      env:
        FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
        FTP_HOST: ${{ secrets.FTP_HOST }}
      working-directory: ./bin
      run: |
        lftp <<EOF
        set ftp:ssl-allow true
        open -u ftpuser,$FTP_PASSWORD $FTP_HOST
        cd /var/www/execli
        mput ./*
        EOF