name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'


jobs:

  build:

    runs-on: ubuntu-latest
    
    steps:

    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential gcc-aarch64-linux-gnu lftp openssl

    - uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Set version
      id: version
      run: |
        echo "${GITHUB_SHA::8}" > ./update/version.txt
        cat ./update/version.txt

    - name: Build hub
      run: |
        GOOS=linux GOARCH=amd64 CGO_ENABLED=1 CC=x86_64-linux-gnu-gcc go build -ldflags '-s -w -linkmode external -extldflags "-static"' -tags sqlite_omit_load_extension -trimpath -o bin/hub-amd64 .
        GOOS=linux GOARCH=arm64 CGO_ENABLED=1 CC=aarch64-linux-gnu-gcc go build -ldflags '-s -w -linkmode external -extldflags "-static"' -tags sqlite_omit_load_extension -trimpath -o bin/hub-arm64 .
        

    - name: Build agent
      run: |
        CGO_ENABLED=0 GOARCH=386 go build -o bin/agent-386 -trimpath -ldflags '-s -w' ./agent
        CGO_ENABLED=0 GOARCH=amd64 go build -o bin/agent-amd64 -trimpath -ldflags '-s -w' ./agent
        CGO_ENABLED=0 GOARCH=arm64 go build -o bin/agent-arm64 -trimpath -ldflags '-s -w' ./agent
        CGO_ENABLED=0 GOARCH=arm GOARM=7 go build -o bin/agent-arm32-v7a -trimpath -ldflags '-s -w' ./agent


    - name: Sign binary
      run: |
        cat << EOF > privkey.txt
        ${{ secrets.RSA_PRIVATE_KEY }}
        EOF
        openssl dgst -sha256 -sign privkey.txt bin/agent-386 > bin/agent-386.sig
        openssl dgst -sha256 -sign privkey.txt bin/agent-amd64 > bin/agent-amd64.sig
        openssl dgst -sha256 -sign privkey.txt bin/agent-arm64 > bin/agent-arm64.sig
        openssl dgst -sha256 -sign privkey.txt bin/agent-arm32-v7a > bin/agent-arm32-v7a.sig
        openssl dgst -sha256 -sign privkey.txt bin/hub-amd64 > bin/hub-amd64.sig
        openssl dgst -sha256 -sign privkey.txt bin/hub-arm64 > bin/hub-arm64.sig

    - uses: actions/upload-artifact@v4
      with:
        name: bin
        path: bin

    - name: Upload binary
      env:
        FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
        FTP_HOST: ${{ secrets.FTP_HOST }}
      working-directory: ./bin
      run: |
        lftp <<EOF
        set ftp:ssl-allow true
        open -u ftpuser,$FTP_PASSWORD $FTP_HOST
        cd /var/www/execli
        mput ./*
        put ../scripts/install-agent.sh -o install-agent.sh
        put ../scripts/install-hub.sh -o install-hub.sh
        put ../update/version.txt -o version.txt
        EOF